<p id="notice"><%= notice %></p>


<div class="title-container">
  <h1>Ordenes</h1>
  <%= link_to "Nueva Orden", new_restaurant_order_path, class: "btn btn-default"%>
</div>

<div class="restaurants">
  <% @orders.each do |order| %>
    <div class="restaurant">
      <div class="thumbnail">
        <div class="caption">
          <h3><%= link_to truncate(order.delivery_address), restaurant_order_path(@restaurant, order)%></h3>
          <p><%= truncate(order.notes, lenght: 150)%></p>
          <p><%= truncate(order.payment)%></p>
          <p><%= order.price%></p>
          <p><%= order.delivery_time%></p>
          <p>
            <%= link_to "Edit", edit_restaurant_order_path(@restaurant, order), class: "btn btn-default"%>
            <%= link_to "Delete", restaurant_order_path(@restaurant, order), data: {confirm: "Seguro que quieres eliminar la orden: #{order} ?", 
            }, method: :delete %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

